In [1]:
import pandas as pd

In [4]:
movies=pd.read_csv('dataset.csv')

In [6]:
movies.head(20)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei â€“ Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895
10,389,12 Angry Men,Drama,en,The defense and the prosecution have rested an...,31.946,1957-04-10,8.5,6533
11,696374,Gabriel's Inferno,Romance,en,An intriguing and sinful exploration of seduct...,12.674,2020-05-29,8.5,2262
12,496243,Parasite,"Comedy,Thriller,Drama",ko,"All unemployed, Ki-taek's family takes peculia...",65.147,2019-05-30,8.5,14036
13,497,The Green Mile,"Fantasy,Drama,Crime",en,A supernatural tale set on death row in a Sout...,69.118,1999-12-10,8.5,14162
14,724089,Gabriel's Inferno: Part II,Romance,en,Professor Gabriel Emerson finally learns the t...,14.924,2020-07-31,8.5,1420
15,155,The Dark Knight,"Drama,Action,Crime,Thriller",en,Batman raises the stakes in his war on crime. ...,82.230,2008-07-14,8.5,27925
16,429,"The Good, the Bad and the Ugly",Western,it,While the Civil War rages between the Union an...,47.730,1966-12-23,8.5,6747
17,680,Pulp Fiction,"Thriller,Crime",en,"A burger-loving hit man, his philosophical par...",67.224,1994-09-10,8.5,23481
18,122,The Lord of the Rings: The Return of the King,"Adventure,Fantasy,Action",en,Aragorn is revealed as the heir to the ancient...,134.707,2003-12-01,8.5,19844
19,761053,Gabriel's Inferno: Part III,"Romance,Comedy",en,The final part of the film adaption of the ero...,47.608,2020-11-19,8.5,977

In [7]:
movies.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

feature Selection Part

In [9]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [11]:
movies=movies[['id', 'title' , 'genre' , 'overview', 'popularity']]

In [12]:
movies

,id,title,genre,overview,popularity
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,94.075
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...",25.408
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",90.585
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,44.761
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,57.749
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",98.322
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,12.490
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...",18.333
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,15.159
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partnerâ€™s murder by an...,16.482

In [13]:
movies['tags']=movies['overview']+movies['genre']

In [14]:
movies

,id,title,genre,overview,popularity,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,94.075,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...",25.408,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",90.585,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,44.761,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,57.749,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",98.322,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,12.490,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...",18.333,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,15.159,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partnerâ€™s murder by an...,16.482,Seeking justice for his partnerâ€™s murder by an...

In [18]:
new_data=movies.drop(columns=['overview','genre','popularity'])

In [16]:
movies

,id,title,genre,overview,popularity,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,94.075,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...",25.408,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",90.585,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,44.761,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,57.749,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",98.322,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,12.490,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...",18.333,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,15.159,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partnerâ€™s murder by an...,16.482,Seeking justice for his partnerâ€™s murder by an...

In [17]:
new_data

,id,title,popularity,tags
0,278,The Shawshank Redemption,94.075,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,25.408,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,90.585,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,44.761,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,57.749,In the continuing saga of the Corleone crime f...
...,...,...,...,...
9995,10196,The Last Airbender,98.322,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,12.490,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,18.333,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,15.159,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,16.482,Seeking justice for his partnerâ€™s murder by an...

In [19]:
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partnerâ€™s murder by an...

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

ModuleNotFoundError: No module named 'sklearn'

In [22]:
pip install scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\shiva\appdata\roaming\python\python312\site-packages (from scikit-learn) (2.1.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 1.6/11.0 MB 4.2 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.0 MB 4.2 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/11.0 MB 4.3 MB/s eta 0:00:02
   --------------- ------------------------ 4.2/11.0 MB 4.0 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 4.0 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.0 MB 4.1 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.0 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.0 MB 3.9 MB/s eta 0:00:01
   ------------------------------ --------- 8.4/11.0 MB 4.0 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 4.0 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 3.9 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 3.9 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   ---------------------------------------- 0.5/44.5 MB 2.4 MB/s eta 0:00:19
    --------------------------------------- 1.0/44.5 MB 2.5 MB/s eta 0:00:18
   - -------------------------------------- 1.6/44.5 MB 2.6 MB/s eta 0:00:17
   -- ------------------------------------- 2.4/44.5 MB 3.0 MB/s eta 0:00:15
   -- ------------------------------------- 2.9/44.5 MB 3.0 MB/s eta 0:00:14
   --- ------------------------------------ 3.9/44.5 MB 3.2 MB/s eta 0:00:13
   ---- ----------------------------------- 5.0/44.5 MB 3.5 MB/s eta 0:00:12
   ----- ---------------------------------- 5.8/44.5 MB 3.5 MB/s eta 0:00:12
   ------ --------------------------------- 6.8/44.5 MB 3.7 MB/s eta 0:00:11
   ------- -------------------------------- 8.1/44.5 MB 4.0 MB/s eta 0:00:10
   -------- ------------------------------- 9.4/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 10.2/44.5 MB 4.1 MB/s eta 0:00:09
   --------- ------------------------------ 11.0/44.5 MB 4.1 MB/s eta 0:00:09
   ---------- ----------------------------- 12.1/44.5 MB 4.2 MB/s eta 0:00:08
   ----------- ---------------------------- 12.8/44.5 MB 4.2 MB/s eta 0:00:08
   ------------ --------------------------- 13.6/44.5 MB 4.2 MB/s eta 0:00:08
   ------------- -------------------------- 14.9/44.5 MB 4.2 MB/s eta 0:00:08
   -------------- ------------------------- 15.7/44.5 MB 4.2 MB/s eta 0:00:07
   -------------- ------------------------- 16.5/44.5 MB 4.2 MB/s eta 0:00:07
   --------------- ------------------------ 17.6/44.5 MB 4.2 MB/s eta 0:00:07
   ----------------- ---------------------- 19.1/44.5 MB 4.3 MB/s eta 0:00:06
   ----------------- ---------------------- 19.9/44.5 MB 4.3 MB/s eta 0:00:06
   ------------------ --------------------- 21.0/44.5 MB 4.4 MB/s eta 0:00:06
   ------------------- -------------------- 22.0/44.5 MB 4.4 MB/s eta 0:00:06
   -------------------- ------------------- 22.8/44.5 MB 4.4 MB/s eta 0:00:05
   --------------------- ------------------ 23.9/44.5 MB 4.3 MB/s eta 0:00:05
   ---------------------- ----------------- 24.6/44.5 MB 4.3 MB/s eta 0:00:05
   ---------------------- ----------------- 25.4/44.5 MB 4.3 MB/s eta 0:00:05
   ----------------------- ---------------- 26.0/44.5 MB 4.3 MB/s eta 0:00:05
   ------------------------ --------------- 26.7/44.5 MB 4.2 MB/s eta 0:00:05
   ------------------------ --------------- 27.8/44.5 MB 4.3 MB/s eta 0:00:04
   ------------------------- -------------- 28.3/44.5 MB 4.2 MB/s eta 0:00:04
   -------------------------- ------------- 29.4/44.5 MB 4.2 MB/s eta 0:00:04
   --------------------------- ------------ 30.1/44.5 MB 4.2 MB/s eta 0:00:04
   ---------------------------- ----------- 31.2/44.5 MB 4.2 MB/s eta 0:00:04
   ---------------------------- ----------- 31.5/44.5 MB 4.2 MB/s eta 0:00:04
   ----------------------------- ---------- 32.5/44.5 MB 4.2 MB/s eta 0:00:03
   ------------------------------ --------- 33.6/44.5 MB 4.2 MB/s eta 0:00:03
   ------------------------------ --------- 34.1/44.5 MB 4.1 MB/s eta 0:00:03
   ------------------------------- -------- 34.9/44.5 MB 4.1 MB/s eta 0:00:03
   -------------------------------- ------- 35.9/44.5 MB 4.1 MB/s eta 0:00:03
   -------------------------------- ------- 36.7/44.5 MB 4.1 MB/s eta 0:00:02
   --------------------------------- ------ 37.2/44.5 MB 4.1 MB/s eta 0:00:02
   ---------------------------------- ----- 38.3/44.5 MB 4.1 MB/s eta 0:00:02
   ----------------------------------- ---- 39.3/44.5 MB 4.1 MB/s eta 0:00:02
   ----------------------------------- ---- 39.8/44.5 MB 4.1 MB/s eta 0:00:02
   ------------------------------------ --- 40.4/44.5 MB 4.1 MB/s eta 0:00:02
   ------------------------------------- -- 41.4/44.5 MB 4.1 MB/s eta 0:00:01
   ------------------------------------- -- 41.9/44.5 MB 4.0 MB/s eta 0:00:01
   -------------------------------------- - 42.5/44.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  44.0/44.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 3.9 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
CountVectorizer